body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.navbar {
  opacity: 0.8;
}

.board-list {
  padding-top: 45px;
  min-width: 361px;
}

.board-body {
  min-width: 250px;
}

.card-badges {
  top: 0px;
}

ul.card-badges {
  list-style-type: none;
}

.card-badges-right {
  right: -17px;
}

.card-badges-left {
  left: -17px;
}

.card-badges > li,
.card-badges > div {
  width: 26px;
  height: 26px;
}

.lane-body {
  overflow: auto;
  min-height: 182px;
  user-select: none;
}

.card-wrapper[draggable='true'] > .card,
.lane-wrapper[draggable='true'] > .lane-header {
  cursor: -webkit-grabbing;
  cursor: grabbing;
}

.hover-card-badges {
  visibility: hidden;
}

.hover-card-badges > i.fa {
  margin-left: 5px;
}

.card-header:hover .hover-card-badges {
  visibility: visible;
}

.lane-header:hover .hover-card-badges {
  visibility: visible;
}

.card-badge {
  cursor: pointer;
}

.item {
  width: 150px;
  height: 150px;
}

.board {
  width: 300px;
  height: 250px;
}

.board-body-wrapper {
  height: 155px;
  overflow: hidden;
}

.card-body-wrapper {
  height: 90px;
/*  overflow: hidden;*/
}

.lane-title {
  font-size: small;
}

.card-title {
  font-size: xx-small;
  font-weight: 600;
}

.card-body {
  font-size: x-small;
}

.desc-container {
  display: flex;
  flex-direction: row;  
}

.desc-container > .label {
  flex: auto;
  font-weight: 600;
}

.desc-container > .value {
  width: 3rem;
  font-style: italic;
}

.composite-lane {
  min-width: 182px;
}